{% if section.settings['show-announcement'] %}
    <section>Announcement Bar</section>
{% endif %}

{% schema %}
    {
        "name": "Announcement Bar",
        "settings": [
            {
            "type": "checkbox",
            "id": "show-announcement",
            "label": "Show Announcement",
            "default": true
            }
        ],
        "presets": []
    }
{% endschema %}